<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Welcome! 
    </p>
  <p>
    To start a feed eg blockchain.com's 'unconfirmed transactions' ws, navigate to '/v1/btc/unconfirmed/start'. To see the feed go to '/v1/btc/unconfirmed/limit/2'.
  </p>
    
  </body>
</html>
